Variable and Data Type :-

In [1]:
x = 10
y = 1.5
name = "Dhruv"
is_active = True

print(type(x), type(y), type(name), type(is_active))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

List :-

In [26]:
fruits = ["apple", "banana", "grapes"]
print(fruits)
print(fruits[0])
fruits[0] = "guava"
print(fruits)

fruits.append("apple")
print(fruits)

fruits.insert(2,"orange")
print(fruits)

fruits.remove("grapes")
print(fruits)

fruits.sort()
print(fruits)

fruits.reverse()
print(fruits)

['apple', 'banana', 'grapes']
apple
['guava', 'banana', 'grapes']
['guava', 'banana', 'grapes', 'apple']
['guava', 'banana', 'orange', 'grapes', 'apple']
['guava', 'banana', 'orange', 'apple']
['apple', 'banana', 'guava', 'orange']
['orange', 'guava', 'banana', 'apple']

Tuple :-

In [29]:
colors = ("red", "green", "blue", "yellow", "purple")
print(colors)

print(colors[0])

('red', 'green', 'blue', 'yellow', 'purple')
red

Dictionaries ;-

In [33]:
student = {"name":"Dhruv", "age":23, "branch":"B-Tech"}
print(student)

print(student["name"])

student["age"] = 21

student["college"] = "SVVV"

print(student)

{'name': 'Dhruv', 'age': 23, 'branch': 'B-Tech'}
Dhruv
{'name': 'Dhruv', 'age': 21, 'branch': 'B-Tech', 'college': 'SVVV'}

Sets :-

In [36]:
numbers = {1,2,3,4,6,7,8,9,}
print(numbers)

numbers.add(0)
print(numbers)

numbers.remove(0)
print(numbers)

{1, 2, 3, 4, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 6, 7, 8, 9}
{1, 2, 3, 4, 6, 7, 8, 9}

List Comprehensions :-

In [39]:
squares = [x**2 for x in range(10)]
print(squares)

even = [x for x in range(10) if x % 2 == 0]
print(even)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8]

Generator Expressions :- Memory efficiant loops

In [42]:
gen = (x**2 for x in range(1,100000))
print(next(gen))
print(next(gen))

1
4

Practise :-

In [44]:
# Create a list of 5 fruits. Replace the third fruit with “kiwi”.
fruit_list = ["apple", "banana", "grapes"]
fruit_list[2] = "kiwi"

print(fruit_list)

['apple', 'banana', 'kiwi']

In [46]:
# Create a tuple of 3 colors. Try changing one value and note what error occurs.
color_tuple = ("red","green","blue")
color_tuple[0] = "white"

#TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [49]:
# Create a dictionary with 3 keys: name, age, course. Add a new key “email”.
dict = {"name": "Dhruv", "age":23, "course":"CS"}
dict["email"] = "dhruv@gmail.com"

print(dict)

{'name': 'Dhruv', 'age': 23, 'course': 'CS', 'email': 'dhruv@gmail.com'}

In [51]:
# Create a set from a list of numbers with duplicates: [1,2,2,3,4,4,5]
set1 = {1,2,2,3,4,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [52]:
#Write a list comprehension to get all numbers from 1 to 20 divisible by 3.
divby3 = [x for x in range(1,21) if x % 3 == 0]
print(divby3)

[3, 6, 9, 12, 15, 18]

In [57]:
# Create a generator expression to yield cube of first 10 numbers.
gen2 = (x**x*x for x in range(1,11))
print(next(gen2))
print(next(gen2))
print(next(gen2))
print(next(gen2))
print(next(gen2))
print(next(gen2))

1
8
81
1024
15625
279936